DATABASE_URL=
SERVER_URL=
APP_URL=
PORT=3000
SERVER_ENCRYPTION_KEY=
BETTER_AUTH_SECRET=
BETTER_AUTH_API_KEY=
BETTER_AUTH_URL=
CORS_ORIGIN=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_ID_DEV=
GITHUB_CLIENT_SECRET_DEV=
TRUSTED_ORIGINS=
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_SECRET=
DODO_PAYMENTS_ENVIRONMENT=test_mode
DODO_PRO_PRODUCT_ID=
DODO_TEAM_PRODUCT_ID=
RESEND_API_KEY=
EMAIL_FROM=Envy <noreply@useenvy.dev>
EMAIL_FROM_ALERTS=Envy <alerts@useenvy.dev>
NODE_ENV=production
